<% include partials/header %>

<div class="landingpage">
    <div class="landing">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo.png" width="30" height="40" class="d-inline-block align-top" alt="Logo">
                </a>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link raleway" href="#about-me">ABOUT ME</a>
                    <a class="nav-item nav-link raleway"
                       href="https://docs.google.com/document/d/1ygwby_gDueV2JZiy_gWAlXK9-qjTEEUfXfTcMUQpoi0/edit?usp=sharing">RESUME</a>
                    <a class="nav-item nav-link raleway" href="#">PROJECTS</a>
                    <a class="nav-item nav-link raleway" href="#">CONTACT</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-xs-12">
            </div>

            <div class="img-responsive center-block text-center namecenter pagination-centered">
                <img class="img-circle" src="/img/headshot.png" alt="headshot image">
            </div>

            <div class="jumbotron text-center namecenter" style="background: transparent;">
                <h1>Hi there! I'm Daniel Chan.</h1>
                <h3>A <span id="js-rotating">PROGRAMMER, SINGAPOREAN, GOLFER, ENTREPRENEUR, WANNA-BE CHEF</span>.</h3>
            </div>
            <div class="text-center namecenter" style="background: transparent;">
                <h6>3rd Year Computer Science Specialist @ University of Toronto</h6>
            </div>
        </div>

    </div>
    <div class="contact-landing">
        <div class="col-md-6 d-inline-block text-center "><a href="mailto:iam@danielchan.me"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="color: black;"></i></a></div><div class="col-md-6 d-inline-block text-center"><i class="fa fa-phone fa-3x" aria-hidden="true" style="color: black"></i></div>
        <div class="col-md-6 d-inline-block text-center"><a href="mailto:iam@danielchan.me" class="roboto" style="color: black;">iam@danielchan.me</a></div><div class="col-md-6 d-inline-block text-center"><span class="roboto">+1 (416)-831-6660</span></div>
    </div>
</div>


<div class="container aboutme" id="about-me">

    <div class="jumbotron text-center">
        <h1>Let me introduce myself.</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/img/profile.png" class="img-fluid rounded" alt="Profile Photo" >
            <div class="row">
            <div class="col-md-4 d-inline-block text-center">
                <a href="http://github.com/DanielChanJA"><i class="fa fa-github fa-3x" aria-hidden="true" style="color: black;"></i>
                </a>
            </div>
            <div class="col-md-4 d-inline-block text-center">
                <a href="http://linkedin.com/in/DanielChanJA"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true" style="color: black;"></i>
                </a>
            </div>
            <div class="col-md-4 d-inline-block text-center">
                <a href="https://www.instagram.com/danielchan_1995/"><i class="fa fa-instagram fa-3x" aria-hidden="true" style="color: black;"></i>
                </a>
            </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <p>
               I'm currently a third year undergraduate student pursuing a Computer Science degree at the University of Toronto,
                with a keen interest in both frontend and backend development.
                <br>
                <br>
                I've been programming since I was 14, and am comfortable with Java, HTML, CSS, C and more recently, JavaScript/NodeJS.
                <br>
                <br>
                I'm currently looking for summer opportunities in the summer of 2018, and have one internship experience under my belt.
            </p>
        </div>
    </div>
</div>


<div class="container" id="projects">

    <div class="jumbotron text-center">
        <h1> Here's what I've been cooking up.</h1>
    </div>

</div>

<div class="container" id="contactme">
    <span><br></span>
    <h3 style="color: white;">   <u>Reach Out</u></h3>

    <div class="col-md-12">
        <i class="fa fa-envelope" aria-hidden="true" style="color: #ffffff;"></i>
        <span class="roboto" style="color: #ffffff;">iam@danielchan.me</span>
    </div>
    <div class="col-md-12">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="color: #ffffff;"></i>
        <span class="roboto" style="color: #ffffff;">/DanielChanJA</span>

    </div>
    <div class="col-md-12">
        <i class="fa fa-phone-square" aria-hidden="true" style="color: #ffffff;"></i>
        <span class="roboto" style="color: #ffffff;"> +1(416)-831-6660</span>


    </div>

    <span><br></span>
</div>

<% include partials/footer %>