<% include partials/header %>
    <div class="landingpage">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" href="#landing">
                <img src="/img/logo.png" width="30" height="40" class="d-inline-block align-top" alt="Logo">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link raleway" href="#about-me">ABOUT ME</a>
                    <a class="nav-item nav-link raleway" href="#work-experience">WORK EXPERIENCE</a>
                    <a class="nav-item nav-link raleway" href="https://docs.google.com/document/d/1ygwby_gDueV2JZiy_gWAlXK9-qjTEEUfXfTcMUQpoi0/edit?usp=sharing">RESUME</a>
                    <a class="nav-item nav-link raleway" href="#projects">PROJECTS</a>
                    <a class="nav-item nav-link raleway" href="#contactme">CONTACT</a>
                </div>
            </div>
        </nav>
    </div>

    <header id="first">
        <div class="landing header-content" id="landing">
            <div class="container">
                <div class="col-xs-12">
                </div>
                <div class="img-responsive center-block text-center namecenter pagination-centered">
                    <img class="img-circle" src="/img/headshot.png" alt="headshot image">
                </div>

                <div class="jumbotron text-center namecenter" style="background: transparent;">
                    <h1 class="animated pulse">Hi there! I'm Daniel Chan.</h1>
                    <h3>A <span id="js-rotating">SOFTWARE ENGINEER, SINGAPOREAN, GOLFER, TENNIS PLAYER</span>.</h3>
                </div>
                <div class="text-center namecenter" style="background: transparent;">
                    <h6>Final Year Computer Science Specialist @ University of Toronto</h6>
                </div>

                <br>
            </div>
        </div>
    </header>


    <div class="container aboutme" id="about-me">

        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>


        <div class="text-center wow fadeInDown" style="background: transparent;" id="introduction">
            <h1>Let me introduce myself.</h1>
        </div>
        <span><br></span>

        <span><br></span>
        <div class="row">
            <div class="col-xs-12 col-md-6 wow slideInLeft" id="profile-photo-div">
                <img src="/img/profile.png" class="img-fluid" alt="Profile Photo">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 d-inline-block text-center">
                        <a href="http://github.com/DanielChanJA">
                            <i class="fa fa-github fa-3x" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 d-inline-block text-center">
                        <a href="http://linkedin.com/in/DanielChanJA">
                            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 d-inline-block text-center">
                        <a href="https://www.instagram.com/danielchan_1995/">
                            <i class="fa fa-instagram fa-3x" aria-hidden="true" style="color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <p id="descriptionAbout" class="align-middle wow slideInRight">
                    I'm currently a final year undergraduate student pursuing a Computer Science degree at the University of Toronto, with a keen interest in both frontend and backend development. More recently, I've taken a keen interest in understanding large scale systems
                    and infrastructure development.
                    <br>
                    <br> I've been programming since the age of 14, and am fluent in Java, Python, C, C#, HTML, CSS and JavaScript. I've worked with many different web frameworks during my two internships; such as AngularJS, Angular, React with testing
                    frameworks for the front-end such as Jasmine and Jest.
                    <br>
                    <br> I'm currently looking for full-time opportunities in June 2020.
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="work-experience">

        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>


        <div class="text-center wow fadeInDown" style="background: transparent;" id="work-experience-intro">
            <h1>Here's where I worked at!</h1>
        </div>
        <span><br></span>

        <p>
            <br> Presently, I'm a undergraduate teaching assistant at the University of Toronto for CSC207 (Software Design)
            <br> Here's what I do!
        </p>
        <ul>
            <li>
                Tasked with the marking of student’s assignments and exams for CSC207 as well as running the tutorial sessions for labs and helping students with exam preparations.
            </li>
        </ul>
        <p>
            <br> In the summer of 2019 I worked at FreshBooks, on the experience team focusing on the transition between classic FreshBooks and new Freshbooks.
            <br> Here's what I worked on during my time at FreshBooks!
        </p>
        <ul>
            <li>
                Implemented a Jenkins - Slack - GitHub integration to notify contributors of a PR when their build status is updated. Improving the workflow of developers as well as increasing the frequency of deployments.
            </li>
            <li>
                Worked on the implementation of ElasticSearch to areas of the application where search is being used, decreasing query times by up to 23% for data-heavy users.
            </li>
            <li>
                Designed and presented a PDF generation microservice using RabbitMQ, Redis and Puppeteer to convert HTML templates into printable PDF formats.
            </li>
        </ul>
        <p>
            <br> Between the period of May 2018 till April 2019, I did part of my 16 month internship at a local technology consulting firm known as Konrad Group.
            <br> Here's what I worked on during my time at Konrad Group!
        </p>
        <ul>
            <li>
                Developed an internal development tool that allows the distribution of Testflight applications to clients for field testing purposes.
            </li>
        </ul>
        <p>
            <br> In the summer of 2017 I worked at a local web-scraping company known as ParseHub.
            <br> Here's what I worked on during my time at ParseHub!
        </p>
        <ul>
            <li>
                Implemented a microservice in Docker that operates on a daily basis, checking payments on Stripe as well as handling the automated downgrading and upgrading of services with 100% test coverage using PhantomJS and Selenium. Increasing revenue by keeping
                track of late unpaid payments, sending out reminders and reducing workload on the support team.
            </li>
            <li>
                Developed an algorithm that utilizes heuristics of a web page; increasing success rates of web scraping projects as well as reducing the overall runtime by 60%.
            </li>
        </ul>

    </div>


    <div class="container" id="projects">

        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>
        <span><br></span>

        <div class="text-center wow fadeInDown" style="background: transparent;" id="project-intro">
            <h1> Here's what I've been cooking up.</h1>
        </div>

        <span><br></span>
        <span><br></span>

        <div class="card-group">
            <!-- card -->
            <div class="card wow slideInLeft" id="burstvpn-card">
                <img class="card-img-top img-fluid mx-auto d-block" src="/img/burstvpn.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">BurstVPN Networks</h4>
                    <p class="card-text roboto">
                        Founded by myself and two other individuals, we set out to provide friends and families the means to bypass the censorship imposed by the Chinese government.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Deployed with OpenVPN, Shadowsocks, PPTP & L2TP over IPSec.</li>
                    <li class="list-group-item">Peak of 500 active paying customers in late 2012.</li>
                    <li class="list-group-item mx-auto d-block">
                        <a href="https://burstvpn.com/" class="fa fa-external-link-square fa-3x" style="text-decoration: none;"></a>
                    </li>
                </ul>
            </div>
            <!-- card -->
            <div class="card wow slideInUp" id="schedulr-card">
                <img class="card-img-top img-fluid mx-auto d-block" src="/img/schedulr.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Schedulr</h4>
                    <p class="card-text roboto">
                        Motivated by the lack of scheduling applications for students at UofT, we created one that creates a non-conflicting timetable based on the input from the user.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Written with NodeJS, Express, PassportJS, JQuery, HTML and CSS.</li>
                    <li class="list-group-item">Maps out the location of the classes on Google Maps.</li>
                    <li class="list-group-item ">
                        <div class="col-xs-6 mx-auto d-block">
                            <a href="http://uoft-schedulr.danielchan.me/" class="fa fa-external-link-square fa-3x" style="text-decoration: none;"></a>
                        </div>
                        <div class="col-xs-6 mx-auto d-block">
                            <a href="https://github.com/CSC309-spring2017/Team32-Schdule" class="fa fa-github fa-3x" style="text-decoration: none;"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- card -->
            <div class="card wow slideInRight" id="musie-card">
                <img class="card-img-top img-fluid mx-auto d-block" src="/img/MUSIE.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">MUSIE</h4>
                    <p class="card-text roboto">
                        Musie is a smart android application that detects emotions from images to generate a Spotify playlist.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Written in Java using Android SDK utilizing Microsoft's Cognitive API and Spotify's SDK. </li>
                    <li class="list-group-item">Created at HackHarvard 2016 with an amazing team of 4.</li>
                    <li class="list-group-item">
                        <div class="col-xs-6 mx-auto d-block">
                            <a href="https://devpost.com/software/musie" class="fa fa-external-link-square fa-3x" style="text-decoration: none;"></a>
                        </div>
                        <div class="col-xs-6 mx-auto d-block">
                            <a href="https://github.com/liyucun/HackHarvard" class="fa fa-github fa-3x" style="text-decoration: none;"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <span><br></span>
        <span><br></span>
        <span><br></span>
    </div>

    <div class="container" id="contactme">
        <span><br></span>

        <div class="container wow slideInLeft">
            <div class="col-md-6">
                <h3 class="col-md-12" style="color: white;"> <u>Reach Out</u></h3>

                <div class="col-md-12">
                    <i class="fa fa-envelope" aria-hidden="true" style="color: #ffffff;"></i>
                    <span class="roboto" style="color: #ffffff;">iam@danielchan.me</span>
                </div>
                <div class="col-md-12">
                    <i class="fa fa-linkedin-square" aria-hidden="true" style="color: #ffffff;"></i>
                    <span class="roboto" style="color: #ffffff;">
                        <a href="https://linkedin.com/in/DanielChanJA">/DanielChanJA</a>
                    </span>
                </div>
                <div class="col-md-12">
                    <i class="fa fa-phone-square" aria-hidden="true" style="color: #ffffff;"></i>
                    <span class="roboto" style="color: #ffffff;"> +1(416)-831-6660</span>
                </div>
                <span><br></span>
            </div>
        </div>
    </div>

    <% include partials/footer %>